* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.logo {
  text-align: center;
  font-size: 20px;
  padding: 10px;
}

nav {
  padding: 10px;
  background-color: #ddd;
  position: sticky;
  top: 0;
}

menu {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.advertisement {
  border: 2px dotted;
  position: sticky;
  top: 50px;
}

main {
  display: flex;
}

article {
  margin: 20px 0;
}

.contact-us {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: black;
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
}

.contact-us:hover {
  background-color: gray;
}